body {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}


#women{
    position: absolute;
    color: red;
    width: 100%;
    border-radius: 10px;
    top: 0;
    z-index: -1;
  }

.wrapper {
    top: 0;
    position: relative;
    margin: 0;
    font-family: "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-简", sans-serif;
} 


.title {
    line-height: 2;
    margin: 0;
    }

 

.nv1 {
    margin: 0;
    overflow: hidden;
}

.nv2 {
    margin: 0;
    overflow: hidden;
}

.nv3 {
    margin: 0;
    overflow: hidden;
}

.nv4 {
    margin: 0;
    overflow: hidden;
}

.nv5 {
    margin: 0;
    overflow: hidden;
}

.nv6 {
    margin: 0;
    overflow: hidden;
}

.nv7 {
    margin: 0;
    overflow: hidden;
}

.nv8 {
    margin: 0;
    overflow: hidden;
}

.nv9 {
    margin: 0;
    overflow: hidden;
}

.nv10 {
    margin: 0;
    overflow: hidden;
}

.nv11 {
    margin: 0;
    overflow: hidden;
}

.nv12 {
    margin: 0;
    overflow: hidden;
}

#height{
    color: white;
}

#width{
    color: white;
}

#box { 
    color:white;
    resize: both; 
    border:0; 
    background-color: rgb(255, 0, 0); 
    height: 100px; 
    width: 300px; 
    overflow:inherit; 
} 

.bottom-image {
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 40px;
    overflow: hidden;
}

.bottom-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:800px)and (max-width: 2000px) {
    .title {
        display: none;
}
}

@media screen and (min-width:0px)and (max-width: 800px) {
    .nv1 {
        display: none;
}
.overlay1 {
      font-size: 0;
}
}

@media screen and (min-width:850px)and (max-width: 2000px) {
    .nv1 {
       display: none;
        
}
    .overlay1 {
        font-size: 0;
}
}

@media screen and (min-width:0px)and (max-width: 850px) {
    .nv2 {
        display: none;
}
     .overlay2 {
        font-size: 0;
}
}
@media screen and (min-width:900px)and (max-width: 2000px) {
    .nv2 {
        display: none;
}
    .overlay2 {
        font-size: 0;
}
}

@media screen and (min-width:0px)and (max-width: 900px) {
    .nv3 {
        display: none;
}
    .overlay3 {
        font-size: 0;
}
}

@media screen and (min-width: 950px)and (max-width: 2000px) {
    .nv3 {
        display: none;
}
    .overlay3 {
        font-size: 0;
}
}

@media screen and (min-width:0px)and (max-width: 950px) {
    .nv4 {
        display: none;
}
    .overlay4 {
        font-size: 0;
}
}
@media screen and (min-width: 1000px)and (max-width: 2000px) {
    .nv4 {
        display: none;
}
    .overlay4 {
        font-size: 0;
}
}
@media screen and (min-width:0px)and (max-width: 1000px) {
    .nv5 {
        display: none;
}
    .overlay5 {
        font-size: 0;
}
}

@media screen and (min-width: 1050px)and (max-width: 2000px) {
    .nv5 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1050px) {
    .nv6 {
        display: none;
}
}

@media screen and (min-width: 1080px)and (max-width: 2000px) {
    .nv6 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1080px) {
    .nv7 {
        display: none;
}
}

@media screen and (min-width: 1100px)and (max-width: 2000px) {
    .nv7 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1100px) {
    .nv8 {
        display: none;
}
}

@media screen and (min-width: 1150px)and (max-width: 2000px) {
    .nv8 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1150px) {
    .nv9 {
        display: none;
}
}

@media screen and (min-width: 1200px)and (max-width: 2000px) {
    .nv9 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1200px) {
    .nv10 {
        display: none;
}
}

@media screen and (min-width:0px)and (max-width: 1150px) {
    .nv9 {
        display: none;
}
}

@media screen and (min-width: 1300px)and (max-width: 2000px) {
    .nv10 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1300px) {
    .nv11 {
        display: none;
}
}

@media screen and (min-width: 1400px)and (max-width: 2000px) {
    .nv11 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1400px) {
    .nv12 {
        display: none;
}
}



@media screen and (min-width:300px)and (max-width: 600px) {
     
    #height{
        color: rgb(0, 0, 0);
    }
    #width{
        color: rgb(0, 0, 0);
    }
    #box { 
        height: 0; 
        width: 0;  
    } 

}

