body {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}


#women{
    position: absolute;
    color: red;
    width: 100%;
    border-radius: 10px;
    top: 0;
    z-index: -1;
  }

.wrapper {
    top: 0;
    position: relative;
    margin: 0;
    font-family: "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-简", sans-serif;
} 


.title {
    line-height: 2;
    margin: 0;
    }

 

.nv1 {
    margin: 0;
    overflow: hidden;
}

.nv2 {
    margin: 0;
    overflow: hidden;
}

.nv3 {
    margin: 0;
    overflow: hidden;
}

.nv4 {
    margin: 0;
    overflow: hidden;
}

.nv5 {
    margin: 0;
    overflow: hidden;
}

.nv6 {
    margin: 0;
    overflow: hidden;
}

.nv7 {
    margin: 0;
    overflow: hidden;
}

.nv8 {
    margin: 0;
    overflow: hidden;
}

.nv9 {
    margin: 0;
    overflow: hidden;
}

.nv10 {
    margin: 0;
    overflow: hidden;
}

.nv11 {
    margin: 0;
    overflow: hidden;
}

.nv12 {
    margin: 0;
    overflow: hidden;
}

#height{
    color: white;
}

#width{
    color: white;
}

#box { 
    color:white;
    resize: both; 
    border:0; 
    background-color: rgb(255, 0, 0); 
    height: 100px; 
    width: 300px; 
    overflow:inherit; 
} 

.bottom-image {
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 40px;
    overflow: hidden;
}

.bottom-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.full-screen-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-简", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    font-size: 4rem;
    font-weight: bold;
    background-color: black;
    color: rgb(255, 0, 0);
    text-align: left;
}

header {
    background-color: #000000;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr; 
}

.left-header {
    background-image: url('header.png'); 
    background-size:cover;
    background-repeat: no-repeat;
}

.right-header {
    font-size: 2opx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5px;
}

.text-row {
    padding: 10px;
    
}

.right-header h1,
.right-header p {
    font-size: 1em;
    margin: 0;
}
.right-header h1 {
    font-size: 1em; 
    color: #ff2121; 
    margin: 0;
}

.right-header p {
    font-size: 0.2em; 
    color: #ffffff; 
    margin: 0;
}
.colored-word {
    color: rgb(255, 0, 0);
  }

section {
    background-color: rgb(255, 0, 0);
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px;
    padding: 20px;
    flex-grow: 1; 
}

.left-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
}

.box {
    color: black;
    font-size: 6rem;
    font-weight:500;
    padding: 20px;
    cursor: pointer; 
}

.right-grid {
    background-color: black;
    padding: 50px;
    border-radius: 8px;
    height:auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#image-container img {
    max-width: 80%;
    max-height: 80%;
    display: inline-block;
}

footer img {
    max-width: 100%; 
    height: auto; 
}

@media screen and (min-width:800px)and (max-width: 1500px) {
    .title {
        display: none;
}
}

@media screen and (min-width:0px)and (max-width: 800px) {
    .nv1 {
        display: none;
}
}


@media screen and (min-width:850px)and (max-width: 1500px) {
    .nv1 {
       display: none;
        
}
}

@media screen and (min-width:0px)and (max-width: 850px) {
    .nv2 {
        display: none;
}

}
@media screen and (min-width:900px)and (max-width: 1500px) {
    .nv2 {
        display: none;
}

}

@media screen and (min-width:0px)and (max-width: 900px) {
    .nv3 {
        display: none;
}

}

@media screen and (min-width: 950px)and (max-width: 1500px) {
    .nv3 {
        display: none;
}

}

@media screen and (min-width:0px)and (max-width: 950px) {
    .nv4 {
        display: none;
}

}
@media screen and (min-width: 1000px)and (max-width: 1500px) {
    .nv4 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1000px) {
    .nv5 {
        display: none;
}

}

@media screen and (min-width: 1050px)and (max-width: 1500px) {
    .nv5 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1050px) {
    .nv6 {
        display: none;
}
}

@media screen and (min-width: 1100px)and (max-width: 1500px) {
    .nv6 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1100px) {
    .nv7 {
        display: none;
}
}

@media screen and (min-width: 1150px)and (max-width: 1500px) {
    .nv7 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1150px) {
    .nv8 {
        display: none;
}
}

@media screen and (min-width: 1200px)and (max-width: 1500px) {
    .nv8 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1200px) {
    .nv9 {
        display: none;
}
}

@media screen and (min-width: 1250px)and (max-width: 1500px) {
    .nv9 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1250px) {
    .nv10 {
        display: none;
}
}


@media screen and (min-width: 1300px)and (max-width: 1500px) {
    .nv10 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1300px) {
    .nv11 {
        display: none;
}
}

@media screen and (min-width: 1350px)and (max-width: 1500px) {
    .nv11 {
        display: none;
}

}
@media screen and (min-width:0px)and (max-width: 1350px) {
    .nv12 {
        display: none;
}
}

@media screen and (min-width:0px)and (max-width: 1500px) {

    .full-screen-layout {
    display: none;
}
}

@media screen and (min-width:1500px)and (max-width: 2000px) {
    .title {
        display: none;
}
    .nv1 {
        display: none;
}
    .nv2 {
        display: none;
}
     .nv3 {
        display: none;
}
    .nv4 {
        display: none;
}
    .nv5 {
        display: none;
}
    .nv6 {
        display: none;
}
    .nv7 {
        display: none;
}
    .nv8 {
        display: none;
}
     .nv9 {
        display: none;
}
    .nv10 {
        display: none;
}
    .nv11 {
        display: none;
}
    .nv12 {
        display: none;
}
    .full-screen-layout {
    display: flex;
}
}