body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling when the background changes */
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}